.SocialComponent {
  display: flex;
  flex-direction: row;

  & > span {
    display: inherit;
    list-style: none;
    font-size: 24px;
    margin: auto 60px;
    margin-bottom: 20px;
    text-align: center;
  }

}

@media only screen and (max-width: 480px) {
  .SocialComponent {
    & > span {
      margin: 0 25px;
      // text-indent: 50%;

    }

  }
}
