{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    "add-module-exports",
    [
      "react-intl", {
        "messagesDir": "./",
        "enforceDescriptions": false
      }
    ]
  ]
}
