{
  "presets": ["es2015", "react", "stage-0"],
  "ignore": [
    "src/playsmatch-core/node_modules"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    [
      "react-intl", {
        "messagesDir": "./trans-tmp/raw-tmp/",
        "enforceDescriptions": false
      }
    ]
  ]
}
