.ProjectsComponent {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  
  .ProjectExcerpt {
    order: 1;
  }

  .ProjectInformation { 
    order: 2;
  }

  .ProjectExcerpt {
    min-width: 43%;
    margin-right: 2%;
    text-align: justify;
  }

  .ProjectExcerpt,
  .ProjectInformation li {
    line-height: 1.8em;
  }

  .main-project-image {
    order: 3;
    width: 179%;
  }

  .main-project-image img {
    max-width: 100%;
  }

}

@media only screen and (max-width: 480px) {
  .ProjectsComponent {
    flex-direction: column;
    
    .ProjectName {
      text-align: center;
    }

    .main-project-image {
      order: 1;
      width: 100%;
    }
    
  }
}