.LanguageSelectorComponent {
  position: absolute;
  left: 1.5%;
  border: 0;
  top: 3%;
  outline: none;
  font-size: 1em;
  vertical-align: super;

  &:hover {
    cursor: pointer;
  }
  
  i {
    font-size: 2em;
    padding-right: 5%;
  }
}