.HeaderComponent {
  display: flex;
  flex-direction: column;
  background: transparent;
  margin: 0 auto;
  width: 80%;
  // margin-bottom: 20px;
  margin-top: 70px;

  & * {
    align-self: center;
  }

  .HeaderAvatar {
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
    margin: 40.2px auto auto;
    border-radius: 80px;
  }

  .title {
    order: 2;
  }

  .HeaderText {
    margin-top: 40px;
    order: 3;
  }

  .SocialComponent {
    order: 3;
  }

  .HeaderAvatar {
    order: 1;
  }

}