// Variables
@import '../../styles/variables';

.ShowcaseComponent {
  margin: 0 auto;
  margin-top: 5%;
  width: $component-width;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;
  margin-bottom: $component-vertical-separation;

  h3 {
    flex-basis: 100%;
  }

  .Thumbnails {
    column-count: 4;
    column-gap: 0;
  }

}

@media only screen and (max-width: 480px) {
  .ShowcaseComponent {
    .Thumbnails {
      column-count: 2;
    }
    
  }
}