/* Primary font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Secondary font */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/** Modifiers */
.code {
  background: #383838;
  color: #F7CA88;
  white-space: nowrap;
  padding: 3px 4px;
  font-size: 90%;
  border-radius: 4px;
  font-family: Menlo,Monaco,Consolas,'Courier New',monospace;
}

.separator {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  background: #eee;
  width: 100%;
}

.primary-btn {
  background: transparent;
  padding: 10px 25px;
  border-color: $primary;
  border-style: solid;
}

.hireme {
  margin-top: 15px;
  font-size: 20px;
  text-transform: capitalize;
  @extend .primary-btn;
}

/* Portfolio wrapper */
.PortfolioComponent {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-family: $primary-fontfamily;
  padding: 0;

  a {
    color: $accent;
  }

  .SocialComponent a:hover,
  .SocialComponent a:active {
    color: darken($color: $foreground, $amount: 25);
    transition: 350ms ease all;
  }

  .ExcerptComponent a:hover,
  .ExcerptComponent a:active {
    color: #fff;
    background-color: darken($color: $foreground, $amount: 25);
    transition: 350ms ease all;
  }


  hr {
    @extend .separator;
  }

  code {
    @extend .code;
    // padding: 15px;
  }

  .HeaderText {
    margin: 10px auto 45px;
  }

  .title {
    color: $primary;
    font-weight: bold;
    text-align: center;
    font-family: $secondary-fontfamily;
    padding: 15px;
    font-size: 40px;
  }

  .subtitle {
    font-style: italic;
    color: $secondary;
  }
}


@media only screen and (max-width: 480px) {
  .PortfolioComponent > hr:last-of-type {
    margin-bottom: 90px;
  }
}