/* Default color palette */

$primary: #444;
$accent: #E74C3C;
$secondary: #aaa;
$foreground: #F7CA88;
$background: #fff;

/* Default font family */
$primary-fontfamily: 'Open Sans', sanf-serif;
$secondary-fontfamily: 'Roboto Slab', sanf-serif;

/* Layout */
$component-width: 80%;
$component-vertical-separation: 100px;